In [1]:
import pandas as pd

# Question 1

In [2]:
l=pd.Series([4,8,15,16,23,42])

In [3]:
l

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# Question 2

In [5]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [6]:
df=pd.Series(list(l1))

In [7]:
df

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
# Qusetion 3

In [9]:
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]}

In [10]:
df=pd.DataFrame(data)

In [11]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
# Question 4

DataFrame: A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a spreadsheet or a SQL table . it is similar to a dictionary of Series Objects. Each column in a DataFrame is a Series.
Series: A Series is a one-dimensional labeled array capable of holding any data type .it can be thought of as a single column in a DataFrame.

In [16]:
#Example
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
data={"Age":[23,25,26,27]}
df=pd.DataFrame(data)
df

   Age
0   23
1   25
2   26
3   27

# Question 5
* head():To view the first few rows of the 
        DataFrame.
* tail():To view the last few rows of the 
          DataFrame
* info():To get a concise summary of the 
         DataFrame.
* describe():To generate descriptive of the               statistics of the DataFrame.
* drop():To drop specified labels from rows           or columns.

* fillna():To fill missing values in the
           DataFrame.
           
* groupby():To group DataFrame using a                 mapper or by a Series of                   columns.
* merge():To merge DataFrame objects by               performing a database-style join           operation.

for example,you might use the head() function to quickly inspect the first few rows of a DataFrame to understand its structure and contents.

#Qusetion 6
* Series:A Series is mutable.
* DataFrame:A DataFrame is mutable.
* Panel:A Panel is mutable.

In [ ]:
# Question 7
import pandas as pd
names=pd.Series(["Alice","